*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{

    background-color: rgb(68, 61, 61);
    display: flex;
    flex-direction: column;
    user-select: none;

    justify-content: center;

}

h1{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #333;
    color: blanchedalmond;
}

.content{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-shrink: 1;
    flex-basis: 0;
    flex-wrap: wrap;
}

.container{
    display: flex;
    min-height: 240px;
    min-width: 240px;
    height: 40vw;
    width: 40vw;
    background-color: whitesmoke;
    flex-direction: column;

    
}
.row{
    display: flex;
    flex-grow:1;

}

.column{
    display: flex;
    flex-grow: 1;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1em;

    
    
}


.menu h2{
    color: white;
    font-size: 2.5vw;
}
.menu button.ON{
    background-color: rgb(77, 3, 3);
}

#eraser{
    margin-top: 2em;
}




button{
    background-color: grey;
    font-size: 1.5em;
    color: wheat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#range-text{
    color: white;
    font-size: 2vw;
}





.header{
    display: flex;
    min-width: 100%;
    justify-content: center;
    gap: 10px;
    flex-shrink: 1;
    flex-basis: 1;
    flex-wrap: wrap;
}



  
.highlight-button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: solid 2px black;
    
}

button:hover,
input:hover,
.brush:hover,
.canvas:hover{
    cursor: pointer;
}

.brush,
.canvas{
    display: flex;
    gap: 1em;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-left: solid 2px hotpink;
    
}
.brush>label>h3,
.canvas>label>h3
{
    color: wheat;
    
}
#rainbow{
    margin-top: 1em;
}

#border-change{
    margin-top: 1em;
}