*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(68, 61, 61);
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header h1{
    color: white;
    font-family: Elena, -apple-system, BlinkMacSystemFont, Roboto, "roboto slab", "droid serif", "segoe ui", system-ui, Arial, sans-serif; ;
}


.container{
    display: flex;
    height: 620px;
    width: 620px;
    background-color: whitesmoke;
    flex-direction: column;
}
.row{
    display: flex;
    flex: 1 1 0;
    background-color: white;
}

.column{
    display: flex;
    flex: 1 1 0;
    background-color: white;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.menu h2{
    color: white;
    font-size: 36px;
}
.menu button.ON{
    background-color: rgb(77, 3, 3);
}
input{
    width: 190px;
    
}
.range-text{
    font-size: 32px;
}
.content{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-left: calc(50% - 310px);
    padding-right: 200px;
    margin-top: 20px;
}

.content button{
    width: 100%;
    height: 35px;
    border: solid 2px silver;
    color: white;
    background-color: rgb(68, 61, 61);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#range-text{
    color: white;
    font-size: 30px;
}

#clear{
    justify-self: flex-end;
    margin-top: 50px;
}
.header h1{
    font-size: 40px;
    font-weight: 900px;
}